<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8"/>
<title>Login</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


</head>
<body>	

	<nav id="navbar-example2" class="navbar navbar-light bg-light">
	  <a class="navbar-brand" href="home">Ger's Garage</a>
	  <ul class="nav nav-pills">
	    <li class="nav-item">
	      <a class="nav-link" href="register">Register</a>  
	    </li>	    
	    <li class="nav-item">
	      <a class="nav-link" href="login">Login</a>
	    </li>
	   </ul>
	</nav>
	
	<div class="card-body">
	    
	    <h5 class="card-title col-2">Login</h5>
	    
	    <div class="form">
			<form method="POST" action="">
				<div class="form-group col-2">							    
					 <input type="email" class="form-control" id="email" placeholder="Email / ID:">			  	
				 </div>			 
				<div class="form-group col-2">							  
					<input type="password" class="form-control" id="password" placeholder="Password:">				
				</div>
				<div class="form-group col-2">
					<button type="submit" class="btn btn-primary">Login</button> 
				</div> 
			</form>
		</div>
		
	</div>
	    
	
	

	
	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</body>
</html>